<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <% if user_signed_in? %>
        <th>Author</th>
      <% end %>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "post_row", collection: @posts, as: "post" %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= link_to "New Post", new_post_path %>
<% end %>